header {
    background-color: rgba(46, 46, 46, 0.5);
    backdrop-filter: blur(1px);
    /* border-bottom: 1px solid #333; */
}

header .container_margin_default {
    justify-content: space-between;
    padding: 12px 0;
}

#logo {
    width: 50px;
}

ul {
    display: flex;
    gap: 28px;
}

ul li a {
    color: var(--text-color);
    font-weight: 500;
}

ul li a:hover {
    font-weight: 700;
}

#header__menu {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--cta-button);
    padding: 6px 12px;
    border-radius: 20px;
    color: var(--text-color);
    font-size: 18px;
}

#header__menu span {
    height: 24px;
    width: 1px;
    background-color: var(--text-color)
}

main {
    margin-top: 74px;
}

#hero-section {
    position: relative;
}

#hero-section::before {
    content: "";
    inset: 0;
    z-index: -1;
    opacity: 0.15;
    position: absolute;
    background-image: url(../images/overlay-tropical.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    height: 100%;
    background-position: -10%;

}

#hero-section .container_margin_default {
    flex-direction: column;
}

#hero__highlight {
    position: relative;
    width: 48vw;
    height: 55vh;
    background: linear-gradient(to top, #222222e0, #33333300);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 28px;
}

#hero__highlight::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background-image: url(../images/game_senna-forever.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10%;
}

#align-search{
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    width: 50%;
    margin-top: 22px;
    transform: translateY(50%)
}

#align-search input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #555;
    padding: 12px;
    font-size: 14px;
}

#align-search button{
    position: absolute;
    right: 0;
    padding: 7px 9px;
    border-radius: 50px;
    border: none;
    background-color: var(--cta-button);
    color: var(--text-color);
    font-size: 22px;
    margin-right: 4px
}

#games-list{
    padding: 56px 0;
}

#games-list .container_margin_default{
    flex-direction: column;
}

#most-purchased{
    width: 100%;
}

.more-button{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: var(--text-color);
    background: none;
    border: none;
}

.games-containers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.game-container{
    width: 204px;
    height: 224px;
    background-color: #333;
    border-radius: 8px;
}